*.sh
node_modules
lib
*.html
*.md
*.woff
*.ttf
.vscode
.idea
/dist/
/public
/docs
.vscode
.local
/bin
/build
/config
Dockerfile
commit-lint.js
postcss.config.js
stylelint.config.js
!.eslintrc.js
!.prettierrc.js
tsconfig.json
